<a href="https://colab.research.google.com/github/hyeriong/Data_Analysis/blob/main/DataFrame_Search(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터프레임 조회하기(2)

In [1]:
import seaborn as sns
import pandas as pd

In [2]:
# seaborn의 anagrams 데이터셋
anagrams = sns.load_dataset('anagrams')

In [3]:
anagrams

    subidr    attnr  num1  num2  num3
0        1  divided     2   4.0     7
1        2  divided     3   4.0     5
2        3  divided     3   5.0     6
3        4  divided     5   7.0     5
4        5  divided     4   5.0     8
5        6  divided     5   5.0     6
6        7  divided     5   4.5     6
7        8  divided     5   7.0     8
8        9  divided     2   3.0     7
9       10  divided     6   5.0     6
10      11  focused     6   5.0     6
11      12  focused     8   9.0     8
12      13  focused     6   5.0     9
13      14  focused     8   8.0     7
14      15  focused     8   8.0     7
15      16  focused     6   8.0     7
16      17  focused     7   7.0     6
17      18  focused     7   8.0     6
18      19  focused     5   6.0     6
19      20  focused     6   6.0     5

In [4]:
# anagrams 데이터셋의 행렬 개수
anagrams.shape

(20, 5)

## 행 조회 (+ 열 조회)
### iloc
- integer location의 약어
- 컴퓨터가 읽을 수 있는 indexing 값으로 데이터프레임의 행이나 컬럼에 접근하는 것이 특징
- 테이블명.iloc[행 인덱스, 열 인덱스]

In [5]:
# 첫 번째 행 접근하기
anagrams.iloc[0]

subidr          1
attnr     divided
num1            2
num2          4.0
num3            7
Name: 0, dtype: object

In [6]:
# 두 번째 행 접근하기
anagrams.iloc[1]

subidr          2
attnr     divided
num1            3
num2          4.0
num3            5
Name: 1, dtype: object

In [7]:
# 마지막 행 접근
anagrams.iloc[-1]

subidr         20
attnr     focused
num1            6
num2          6.0
num3            5
Name: 19, dtype: object

In [8]:
# 첫 번째 열 조회하기
anagrams.iloc[:, 0]

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
Name: subidr, dtype: int64

In [9]:
# 두 번째 열 조회하기
anagrams.iloc[:, 1].head()

0    divided
1    divided
2    divided
3    divided
4    divided
Name: attnr, dtype: object

In [10]:
# 두 번째 열의 세 번째 행 정보 조회
anagrams.iloc[2, 1]

'divided'

In [11]:
# 슬라이싱을 이용해 구간 정보 조회하기
anagrams.iloc[:3, :5]  # 데이터프레임으로 출력되는 것이 특징

   subidr    attnr  num1  num2  num3
0       1  divided     2   4.0     7
1       2  divided     3   4.0     5
2       3  divided     3   5.0     6

In [12]:
# 짝수 번째에 위치한 행들만 조회하기
anagrams.iloc[::2, :]

    subidr    attnr  num1  num2  num3
0        1  divided     2   4.0     7
2        3  divided     3   5.0     6
4        5  divided     4   5.0     8
6        7  divided     5   4.5     6
8        9  divided     2   3.0     7
10      11  focused     6   5.0     6
12      13  focused     6   5.0     9
14      15  focused     8   8.0     7
16      17  focused     7   7.0     6
18      19  focused     5   6.0     6

In [15]:
# 2~4번 열의 6~10번 행 조회하기
anagrams.iloc[6:11, 1:4]

      attnr  num1  num2
6   divided     5   4.5
7   divided     5   7.0
8   divided     2   3.0
9   divided     6   5.0
10  focused     6   5.0

In [23]:
# 만약 컬럼명을 인덱싱 값으로 넣는다면?
anagrams.iloc[8, 'attnr']   # 오류 발생

ValueError: ignored

In [24]:
# 이에 대한 해결 방법은?
anagrams.iloc[8]['attnr']

'divided'

In [21]:
# 람다 함수 사용하여 조회하기
anagrams.iloc[lambda x: x.index == 13]

    subidr    attnr  num1  num2  num3
13      14  focused     8   8.0     7