<a href="https://colab.research.google.com/github/hyeriong/Data_Analysis/blob/main/DataFrame_Columns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas
- Python Data Analysis Library
- 데이터 분석을 하기 위해 사용하는 필수적인 파이썬 패키지
- pd라는 명칭으로 임포트하는 것이 관례
- Pandas는 세 가지의 데이터 구조를 사용한다.
  - Series **
  - DataFrame **
  - Panel

## DataFrame
- 데이터프레임은 2차원 리스트를 매개변수로 전달
- 행방향 인덱스(index), 열방향 인덱스(column) 존재

In [15]:
# 라이브러리 불러오기
import pandas as pd

In [16]:
# 데이터프레임 만들기 위한 리스트 생성

score = pd.DataFrame({'name':['Stella', 'Maria', 'Tom', 'Jack'],
                      'age':[18, 25, 21, 19],
                      'score':[78, 90, 93, 82]},
                     index = ['class1', 'class2', 'class3', 'class4'])

In [17]:
score

          name  age  score
class1  Stella   18     78
class2   Maria   25     90
class3     Tom   21     93
class4    Jack   19     82

In [18]:
# 인덱스 조회하기
score.index

Index(['class1', 'class2', 'class3', 'class4'], dtype='object')

In [19]:
# 값 조회하기
score.values

array([['Stella', 18, 78],
       ['Maria', 25, 90],
       ['Tom', 21, 93],
       ['Jack', 19, 82]], dtype=object)

In [20]:
# 전체 컬럼명 조회하기
score.columns

Index(['name', 'age', 'score'], dtype='object')

In [21]:
# 특정 컬럼 추출하기
score['name']     # 대괄호 한 개 쓰는 경우, 시리즈 형태로 출력됨

class1    Stella
class2     Maria
class3       Tom
class4      Jack
Name: name, dtype: object

In [22]:
# 특정 컬럼을 두 개 이상 출력하는 경우
score[['name', 'score']]   # 대괄호를 두 개 쓰는 경우, 데이터프레임으로 출력됨

          name  score
class1  Stella     78
class2   Maria     90
class3     Tom     93
class4    Jack     82

In [23]:
# 컬럼을 기준으로 연산이 가능하다
# 덧셈(sum())
score.score.sum()

343

In [24]:
# 평균
score['score'].mean()

85.75

In [25]:
# 표준편차
score.score.std()

6.946221994724902

In [26]:
# 중앙값
score['score'].median()

86.0