<a href="https://colab.research.google.com/github/hyeriong/Data_Analysis/blob/main/NAN(3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 결측치 대체 및 제거(2)
- 참고링크: https://brain-nim.tistory.com/19, https://rfriend.tistory.com/263

- 다른 데이터셋으로 해보기

In [38]:
from google.colab import files
uploaded = files.upload()

Saving stock_market.csv to stock_market (3).csv

In [39]:
import io
import pandas as pd

In [40]:
stock_market = pd.read_csv(io.BytesIO(uploaded['stock_market.csv']))

In [41]:
stock_market

,ID,Name,Market,Category,Capital,PER,EPS,ROE,PBR,BPS,...,Retention_Continuous,Open,High,Low,Close,DaytoDay,Volume,Highest_Price,Highest_Date,update_date
0,20,동화약품,KOSPI,제약,3282,22.82,204,5.27,1.16,12534,...,5,11400,11750,11400,11750,300,67692,21550,2020-08-11,2022-05-13 7:04
1,40,KR모터스,KOSPI,자동차,761,-8.77,-48,-25.82,2.25,385,...,1,786,804,786,792,8,80163,1450,2019-07-05,2022-05-13 6:31
2,50,경방,KOSPI,"섬유,의류,신발,호화품",4208,16.92,155,2.98,0.46,30043,...,5,15100,15350,14900,15350,200,8396,17750,2022-04-26,2022-05-13 6:48
3,60,메리츠화재,KOSPI,손해보험,44269,6.13,1605,26.08,1.52,22115,...,4,37250,37350,34650,36700,350,545472,53500,2022-01-21,2022-05-13 7:05
4,70,삼양홀딩스,KOSPI,식품,6988,3.66,1645,14.53,0.43,226314,...,1,81800,82300,81000,81600,500,9234,134000,2021-04-22,2022-05-13 6:48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,4920,씨아이테크,KOSPI,컴퓨터와주변기기,429,-8.51,119,-15.91,1.27,1202,...,2,1070,1115,1065,1075,5,272694,2035,2021-04-27,2022-05-13 6:59
246,4960,한신공영,KOSPI,건설,1799,3.75,2254,7.55,0.27,58000,...,5,15800,16050,15550,15550,200,67490,27500,2021-05-10,2022-05-13 6:39
247,4970,신라교역,KOSPI,식품,2016,4.82,556,8.32,0.38,35004,...,5,12500,12600,12400,12600,50,8071,15450,2021-06-11,2022-05-13 6:39
248,4980,성신양회,KOSPI,건축자재,2917,64.89,619,1.57,0.99,16637,...,4,12050,12300,11800,11900,250,256562,20200,2021-12-20,2022-05-13 7:16
249,4985,성신양회우,KOSPI,건축자재,127,64.89,619,1.57,0.99,16637,...,4,17050,17650,17050,17300,50,25062,27000,2020-07-28,2022-05-13 7:00

In [42]:
stock_market.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    250 non-null    object
 1   Name                  250 non-null    object
 2   Market                250 non-null    object
 3   Category              250 non-null    object
 4   Capital               250 non-null    int64
 5   PER                   249 non-null    float64
 6   EPS                   250 non-null    int64
 7   ROE                   249 non-null    float64
 8   PBR                   250 non-null    float64
 9   BPS                   250 non-null    int64
 10  Group_PER             250 non-null    float64
 11  Revenue               250 non-null    int64
 12  Operating_Income      250 non-null    int64
 13  Net_Income            250 non-null    int64
 14  Dividend              189 non-null    float64
 15  Debt                  250 non-null    float64
 16  Debt_continuous       250 non-null    int64
 17  Retention             250 non-null    float64
 18  Retention_Continuous  250 non-null    int64
 19  Open                  250 non-null    int64
 20  High                  250 non-null    int64
 21  Low                   250 non-null    int64
 22  Close                 250 non-null    int64
 23  DaytoDay              250 non-null    int64
 24  Volume                250 non-null    int64
 25  Highest_Price         250 non-null    int64
 26  Highest_Date          250 non-null    object
 27  update_date           250 non-null    object
dtypes: float64(7), int64(15), object(6)
memory usage: 54.8+ KB

In [43]:
# 결측치 확인하기
stock_market.isnull().sum()

ID                       0
Name                     0
Market                   0
Category                 0
Capital                  0
PER                      1
EPS                      0
ROE                      1
PBR                      0
BPS                      0
Group_PER                0
Revenue                  0
Operating_Income         0
Net_Income               0
Dividend                61
Debt                     0
Debt_continuous          0
Retention                0
Retention_Continuous     0
Open                     0
High                     0
Low                      0
Close                    0
DaytoDay                 0
Volume                   0
Highest_Price            0
Highest_Date             0
update_date              0
dtype: int64

- Per컬럼과 ROE컬럼, Dividend컬럼에서 결측치 확인됨

In [44]:
# 컬럼이 많은 관계로 결측치 데이터만 살펴보겠음
sample = stock_market[['PER', 'ROE', 'Dividend']]

In [45]:
sample

       PER    ROE  Dividend
0    22.82   5.27      1.23
1    -8.77 -25.82       NaN
2    16.92   2.98      0.91
3     6.13  26.08      1.85
4     3.66  14.53      3.05
..     ...    ...       ...
245  -8.51 -15.91       NaN
246   3.75   7.55      2.23
247   4.82   8.32      3.73
248  64.89   1.57      1.21
249  64.89   1.57      1.42

[250 rows x 3 columns]

## 결측값 제거 방법
- 1) 결측값이 있는 행 제거
- 2) 결측값이 있는 열 제거

In [46]:
# 결측값이 있는 행 일괄제거
sample.dropna()

       PER    ROE  Dividend
0    22.82   5.27      1.23
2    16.92   2.98      0.91
3     6.13  26.08      1.85
4     3.66  14.53      3.05
5     3.66  14.53      4.42
..     ...    ...       ...
244  -4.60 -12.94      1.14
246   3.75   7.55      2.23
247   4.82   8.32      3.73
248  64.89   1.57      1.21
249  64.89   1.57      1.42

[189 rows x 3 columns]

- 단점: 하나의 결측값이라도 있으면, 모든 컬럼에서 행이 삭제됨. -> 결측값이 많을 경우, 데이터셋이 확연히 줄어들 수 있음.

In [47]:
# 결측값이 하나뿐인 행 살펴보기
sample[sample['PER'].isnull() | sample['ROE'].isnull()]

     PER  ROE  Dividend
223  NaN  NaN       NaN

In [48]:
sample.iloc[223]  # 223행은 결측값이 존재하는 행

PER        NaN
ROE        NaN
Dividend   NaN
Name: 223, dtype: float64

In [49]:
# 특정컬럼(PER, ROE)에서만 결측값이 있는 행 제거하기
sample.dropna(subset = ['PER','ROE']).iloc[223]  # 223행에서 결측값이 사라진 것을 볼 수 있음.

PER         65.89
ROE          0.99
Dividend     2.87
Name: 224, dtype: float64

In [50]:
# 특정 열 제거(결측치가 많은 열 제거)
sample.drop(['Dividend'], axis = 1)

       PER    ROE
0    22.82   5.27
1    -8.77 -25.82
2    16.92   2.98
3     6.13  26.08
4     3.66  14.53
..     ...    ...
245  -8.51 -15.91
246   3.75   7.55
247   4.82   8.32
248  64.89   1.57
249  64.89   1.57

[250 rows x 2 columns]

## 결측치 대체 방법
- fillna(method = '  ')
  - ffill: 결측치가 나타나기 전의 값으로 결측치 변경
  - bfill: 결측값이 나타난 이후 첫 번째 값으로 앞쪽의 결측치를 변경

In [51]:
# 결측치 대체 전의 Dividend 평균
sample.Dividend.mean()

2.5816402116402113

In [52]:
# 변수명 의미: ffill로 결측값을 채운 sample
ff_sample = sample.fillna(method = 'ffill')['Dividend']

In [53]:
# ff_sample의 평균구하기
ff_sample.mean()

2.4046000000000003

- 결측치 대체 이전과 대략 0.16 정도의 차이 발생

In [54]:
# bfill로 결측값 대체해보기
bf_sample = sample.fillna(method = 'bfill')['Dividend']

In [55]:
# bf_sample의 평균 구하기
bf_sample.mean()

2.5853599999999997

2.5853599999999997

- 결측치 대체 이전과 대략 0.004 정도의 차이 발생