<a href="https://colab.research.google.com/github/hyeriong/Data_Analysis/blob/main/NAN(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 결측치 대체

In [1]:
from google.colab import files
uploaded = files.upload()

Saving Bookings.csv to Bookings.csv

In [2]:
import io
import pandas as pd

In [3]:
bookings = pd.read_csv(io.BytesIO(uploaded['Bookings.csv']))

In [4]:
bookings

,Unnamed: 0,Hotel_Name,Review,Total_Review,Rating,Location
0,0,Oakwood Residence Midtown East,Superb,28,9.1,Murray Hill
1,1,Murray Hill East Suites,Good,52,7.6,Murray Hill
2,2,The Herald 8 by LuxUrban,Good,"2,870",7.8,Manhattan
3,3,"The Cloud One New York-Downtown, by the Motel ...",Very good,975,8.3,Wall Street - Financial District
4,4,Pod Times Square,Very good,"13,951",8.1,Hell's Kitchen
...,...,...,...,...,...,...
520,520,Fantastic 3BR At Financial District,NaN,NaN,NaN,Wall Street - Financial District
521,521,3 Bedroom Apartment In Midtown East,NaN,NaN,NaN,Manhattan
522,522,2BD 1BA Apartment At Financial District,NaN,NaN,NaN,Wall Street - Financial District
523,523,2BD 1BA Apartment At Wall Street,NaN,NaN,NaN,Wall Street - Financial District
524,524,Two BD Apartment At Midtown East,NaN,NaN,NaN,Manhattan

In [5]:
bookings.drop(columns = 'Unnamed: 0', inplace = True)

In [6]:
# 데이터 내보내기
bookings.to_csv('/content/bookings.csv', index = False)

In [7]:
bookings.head()

,Hotel_Name,Review,Total_Review,Rating,Location
0,Oakwood Residence Midtown East,Superb,28,9.1,Murray Hill
1,Murray Hill East Suites,Good,52,7.6,Murray Hill
2,The Herald 8 by LuxUrban,Good,"2,870",7.8,Manhattan
3,"The Cloud One New York-Downtown, by the Motel ...",Very good,975,8.3,Wall Street - Financial District
4,Pod Times Square,Very good,"13,951",8.1,Hell's Kitchen

## 결측값을 0으로 대체하기
- 아래로 내려갈수록 결측값이 많아진다. --> 즉, 아래쪽 데이터는 고객 방문율이 낮음을 의미한다.
- 따라서 호텔 방문에 대한 결측값을 '리뷰 없음'으로 판단하고, 이를 0으로 채운다.
- 다만, Review 컬럼과 같은 경우 문자열이므로, 이에 해당하는 value를 하나 생성한다.

In [8]:
bookings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525 entries, 0 to 524
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Hotel_Name    525 non-null    object
 1   Review        325 non-null    object
 2   Total_Review  325 non-null    object
 3   Rating        315 non-null    float64
 4   Location      525 non-null    object
dtypes: float64(1), object(4)
memory usage: 20.6+ KB

- Rating을 제외하고는 전부 문자열 value임.

In [12]:
bookings[['Total_Review', 'Rating']] = bookings[['Total_Review', 'Rating']].fillna(0)

In [14]:
bookings.tail()

,Hotel_Name,Review,Total_Review,Rating,Location
520,Fantastic 3BR At Financial District,NaN,0,0.0,Wall Street - Financial District
521,3 Bedroom Apartment In Midtown East,NaN,0,0.0,Manhattan
522,2BD 1BA Apartment At Financial District,NaN,0,0.0,Wall Street - Financial District
523,2BD 1BA Apartment At Wall Street,NaN,0,0.0,Wall Street - Financial District
524,Two BD Apartment At Midtown East,NaN,0,0.0,Manhattan

## 결측치에 새로운 value 할당하기
- Review 컬럼은 문자열이므로 새로운 value를 생성하여 부여한다

In [17]:
bookings['Review'] = bookings['Review'].fillna('None')

In [18]:
bookings.tail()

,Hotel_Name,Review,Total_Review,Rating,Location
520,Fantastic 3BR At Financial District,None,0,0.0,Wall Street - Financial District
521,3 Bedroom Apartment In Midtown East,None,0,0.0,Manhattan
522,2BD 1BA Apartment At Financial District,None,0,0.0,Wall Street - Financial District
523,2BD 1BA Apartment At Wall Street,None,0,0.0,Wall Street - Financial District
524,Two BD Apartment At Midtown East,None,0,0.0,Manhattan

In [19]:
# 결측치 확인
bookings.isnull().sum()

Hotel_Name      0
Review          0
Total_Review    0
Rating          0
Location        0
dtype: int64