<a href="https://colab.research.google.com/github/hyeriong/Data_Analysis/blob/main/Series_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 시리즈
- 생성
  - pd.Series(데이터, index = 행 이름, name = 열 이름)
  - 행 이름과 열 이름은 별도로 입력하지 않으면 index는 0부터 시작하는 정수 값이, name은 빈 값이 입력됨.

- 조회
  - index와 values의 속성을 이용해 해당 시리즈의 값과 인덱스를 출력할 수 있다.
  
- 인덱싱
  - 인덱스를 이용한 인덱싱
  - 인덱스 값을 통해 데이터 조회하거나 데이터 값 변경 가능

In [1]:
import pandas as pd

In [4]:
# 시리즈 생성: 리스트로 생성
data = pd.Series([87, 94, 66, 91, 73],
                 index = ['A', 'B', 'C','D','E'],
                 name = 'score')

In [5]:
data

A    87
B    94
C    66
D    91
E    73
Name: score, dtype: int64

In [6]:
# 시리즈 생성: 딕셔너리로 생성
data2 = pd.Series({'A': 87, "B": 94, 'C': 66, 'D': 91, "E": 73})

In [7]:
data2

A    87
B    94
C    66
D    91
E    73
dtype: int64

In [8]:
# index의 속성 이용해 해당 시리즈의 값 출력
data2.index

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [9]:
# values의 속성 이용해 해당 시리즈의 인덱스 출력
data2.values

array([87, 94, 66, 91, 73])

In [10]:
data2.columns  # 시리지는 columns 속성을 가지고 있지 않다.

AttributeError: ignored

In [11]:
# 시리즈 인덱싱으로 데이터 조회하기
data2['A']

87

In [14]:
# 시리즈 인덱싱으로 데이터 값 변경
data2['D'] = 70

In [15]:
data2

A    87
B    94
C    66
D    70
E    73
dtype: int64